mat-card{
    margin: 8px;
    background-color: #102846;
    border: none;
    box-shadow: 0px 0px 5px 0.5px grey;
    color: white;
}
mat-card-content{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.left, .right{
    display: flex;
    align-items: center;
}
input{
    height: 1.7rem;
    font-size: 1rem;
    background-color: #102846;
    border: 1px solid grey;
    color: white;
}
button{
    border: none;
    color: white;
    background-color: #102846;
}
