<mat-card appearance="outlined" (click)="changeValue()">
    <mat-card-content>
        <span class="left" *ngIf="!editMode; else otroModo">{{matterName}}</span>
        <ng-template #otroModo>
            <span class="left">
                <input type="text" [value]="matterName" #inputName >
                <button (click)="updateName(inputName.value, matterId)">
                    <mat-icon>check</mat-icon>
                </button>
            </span>
        </ng-template>

        <span class="right">
            <button (click)="alterarNome()">
                <mat-icon>{{ editMode ? 'close' : 'edit'}}</mat-icon>
            </button>
            <button (click)="deleteMatter(matterId)">
                <mat-icon>delete</mat-icon>
            </button>
        </span>
    </mat-card-content>
</mat-card>
<div *ngIf="showAnnotations">
    <app-annotations-cards [matterId]="matterId" (atualizou)="this.atualizou.emit()"></app-annotations-cards>
</div>
