/* Estilo do card */
mat-card {
    margin: 8px auto;
    background-color: #f7efe1;
    border: none;
    box-shadow: 0px 0px 5px 0.5px grey;
    max-width: 95vw; /* Garante que o card não passe da tela */
    width: 100%;
    border-radius: 8px; /* Borda arredondada */
  }

  /* Conteúdo do card */
  mat-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
  }

  /* Agrupamento dos inputs e botão check */
  .left-and-button {
    display: flex;
    align-items: center;
    gap: 1rem; /* Espaço entre inputs e botão */
  }

  /* Lado esquerdo (inputs) */
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Estilo do título */
  .left p {
    font-weight: bold;
    margin: 0;
  }

  /* Estilo da descrição */
  .left ul {
    padding-left: 1rem;
    margin: 0.25rem 0 0 0;
    list-style-type: none; /* Removi a bolinha da lista */
  }

  .left li {
    font-size: 0.95rem;
    list-style: none;
    padding: 0;
  }

  .left div {
    display: flex;
    justify-content: center;
  }

  .left span {
    display: inline-block;
  }

  /* Botão de confirmação (check) */
  .check-button button {
    border: none;
    background-color: #f7efe1;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: background-color 0.3s;
  }

  .check-button button:hover {
    background-color: #e0d6c5; /* Efeito no hover */
  }

  /* Lado direito (botão fechar) */
  .right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  /* Input genérico */
  input {
    height: 1.7rem;
    font-size: 1rem;
    background-color: #f7efe1;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0 0.5rem;
  }

  /* Botão genérico */
  button {
    border: none;
    background-color: #f7efe1;
    cursor: pointer;
  }

  /* Botão adicionar no modo plus */
  .adicionar button {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #f7efe1;
    transition: background-color 0.3s;
  }

  .adicionar button:hover {
    background-color: #e0d6c5;
  }
  .adicionar{
    display: flex;
    justify-content: center;
    width: 100%;
  }
